
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #023047;
    font-family: 'Poppins', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1{
    margin: 2vh;
    color: white;
}
.bar{
    width: 70vh;
    height: 4vh;
    background-color: #023047;
    border: none;
    outline: none;
    padding-left: 12px;
    color: white;
}
.navbar{
    
    border: 2px solid white;
    border-radius: 6px;
}
.btn{
    background-color: rgb(52, 183, 244);
        color: rgb(255, 255, 255);   
        margin: 10px;
        height: 34px;
        width: 65px;
        border-radius: 10px;
}
.btn:hover{
    background-color: rgb(29, 192, 97);
}
